
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
}

input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: lightgray;
    padding: 1em;
    font-size: 1em;
    background: #f7f7f7;
    text-align: center;
    
  }

input:focus {
    border-color: darkgray;
    outline: none;
  }

.main-wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 20vmin;
    /* border: 1px solid cyan; */
}

.add-todo-wrapper {
    display: flex;
    justify-content: center;
}

.todo-list {
    /* border: 1px solid red; */
    margin-top: 1.5em;
    padding: 0;

}

.todo-item {
    display: flex;
    align-items: baseline;
    justify-content: center;

}

.todo-item>* {
    padding: 0.75em;
}

.remove-all-button {
    position: fixed;
    bottom: 0;
    right: 0;
    background: lightcoral;
    color: white;
}

@media (min-width: 576px) {
    
 }

@media (min-width: 768px) { 
    input {
        padding: 0.75em 3em;
        margin: 0;
        font-size: 1.5em;
    }
    .form-submit-input {
        display: none;
    }
 }


@media (min-width: 992px) { 

    .main-wrapper {
        max-width: 900px;
    }

 }


@media (min-width: 1200px) {  }